/* Global Font */
* {
  font-family: 'Cairo', sans-serif;
}

/* brand colors */
.logo-blue {
  color: #0099bb;
}
.brand-orange {
  color: #d57700
}
.brand-dark-orange {
  color: #bf5700
}

/* ---------- navbar styling ---------- */
/* basic */
.navbar {
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}
a.nav-link {
  color: #222222;
}
a.navbar-item {
  background-color: #ffffff;
}

/* on hover */
a.nav-link:hover {
  color: #ffffff;
}
a.navbar-item:hover {
  color: #ffffff;
  background-color: #4a4a4a;
}

/* active */
a.nav-link:active {
  color: #ffffff;
}
a.navbar-item:active {
  color: #ffffff;
  background-color: #0099bb;
}

/* ------- Explore page styling ----- */
.card {
  width: 300px;
  height: auto;
  margin: 20px
}
.button.is-primary.is-light.save-btn {
  background-color: #ffffff00;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.artsy-img {
  width:300px;
}

